@font-face{
	font-family : 'NobelBlack';
	src: url("assets/fonts/Nobel-Black.woff2") format("woff2"), url("assets/fonts/Nobel-Black.woff") format("woff");
	font-weight: 300;
    font-style: italic; 
}

@font-face{
	font-family : 'NobelBlackItalic';
	src: url("assets/fonts/Nobel-BlackItalic.woff2") format("woff2"), url("assets/fonts/Nobel-BlackItalic.woff") format("woff");
	font-weight: 300;
    font-style: italic; 
}
@font-face{
	font-family : 'NobelBold';
	src: url("assets/fonts/Nobel-Bold.woff2") format("woff2"), url("assets/fonts/Nobel-Bold.woff") format("woff");
	font-weight: 300;
    font-style: italic; 
}

@font-face{
	font-family : 'NobelBoldItalic';
	src: url("assets/fonts/Nobel-BoldItalic.woff2") format("woff2"), url("assets/fonts/Nobel-BoldItalic.woff") format("woff");
	font-weight: 300;
    font-style: italic; 
}

@font-face{
	font-family : 'NobelBook';
	src: url("assets/fonts/Nobel-Book.woff2") format("woff2"), url("assets/fonts/Nobel-Book.woff") format("woff");
	font-weight: 300;
    font-style: italic; 
}

@font-face{
	font-family : 'NobelRegular';
	src: url("assets/fonts/Nobel-Regular.woff2") format("woff2"), url("assets/fonts/Nobel-Regular.woff") format("woff");
	font-weight: 300;
    font-style: italic; 
}